* {
    box-sizing: border-box;
}



.pagination-container{
    display: flex;
    align-items:center;
    list-style-type: none;
    width: 100%;
    justify-content:space-between;
    
}

.active-item {
    width:30px;
    height:30px;
    color:white;
    background-color:purple;
    text-align:center;
    padding:5px;
    border-radius: 15px;
}

.previus-className {
    color:blue;
}